<div id="features" class="section md-padding bg-grey">

    <!-- Container -->
    <div class="container">

        <!-- Row -->
        <div class="row">

            <!-- why choose us content -->
            <div class="col-md-6">
                <div class="section-header">
                    <h2 class="title">Why Choose Us</h2>
                </div>
                <p>Our team skills are :</p>
                <div class="feature">
                    <i class="fa fa-check"></i>
                    <p>SECURITY</p>
                </div>
                <div class="feature">
                    <i class="fa fa-check"></i>
                    <p>SYMFONY</p>
                </div>
                <div class="feature">
                    <i class="fa fa-check"></i>
                    <p>REACT</p>
                </div>
                <div class="feature">
                    <i class="fa fa-check"></i>
                    <p>APPS (IOS, ANDROID, SAMSUNG SMARTTV)</p>
                </div>
            </div>
            <!-- /why choose us content -->

            <!-- About slider -->
            <div class="col-md-6">
                <div id="about-slider" class="owl-carousel owl-theme">
                    <img class="img-responsive" src="{{ asset('bundles/moriven/img/about1.jpg') }}" alt="">
                    <img class="img-responsive" src="{{ asset('bundles/moriven/img/about2.jpg') }}" alt="">
                    <img class="img-responsive" src="{{ asset('bundles/moriven/img/about1.jpg') }}" alt="">
                    <img class="img-responsive" src="{{ asset('bundles/moriven/img/about2.jpg') }}" alt="">
                </div>
            </div>
            <!-- /About slider -->

        </div>
        <!-- /Row -->

    </div>
    <!-- /Container -->

</div>